<div class=" navbar navbar-fixed-top">

  <div class="navbar-inner">

    <div class="containter">

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/" data-menu="index">Leap.js</a>
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>



      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav pull-right">
          <li><a href="/api_guide" data-menu="api_guide">Developer Guide</a></li>
          <!-- li><a href="/start" data-menu="start">Getting Started</a></li -->
          <li><a href="/examples" data-menu="examples">Examples</a></li>
          <li><a href="/tutorials" data-menu="tutorials">Tutorials</a></li>
          <li><a href="/api" data-menu="api">API</a></li>
          <!--  li> <a href="/what_is_leap_motion" data-menu="what_is_leap_motion">What is Leap Motion</a -->
          </li>
          <!--
          <li><a href="/development">Development</a></li>
          -->
        </ul>
      </div>

    </div>
  </div>
</div>