<h1>LeapJS Examples</h1>

<p>
  Send your javascript api examples to <a href="https://www.twitter.com/LeapMotionDev" target="_blank">@LeapMotionDev</a>.
  <br/>
  <br/>
</p>

<div class="row">
  <div class="span4">
    <a href="/examples/dom-visualizer.html">
      <img src="/images/examples/dom-visualizer.png"/>
      <dt>Hand and Finger 3D Visualizer</dt>
    </a>
    <dd>DOM based visualizer of the data</dd>
    <div class="credit"><a href="https://github.com/juliangarnier">@juliangarnier</a></div>
  </div>
  <div class="span4">
    <a href="/examples/menu_grid_generator.html">
      <img src="/images/examples/menu_grid_generator.png"/>
      <dt>Grid menu generator</dt>
    </a>
    <dd>Demonstrates a menu generator with clicking</dd>
    <div class="credit"><a href="https://github.com/syntagmatic">@syntagmatic</a></div>
  </div>
  <div class="span4">
    <a href="/examples/menu_radial_generator.html">
      <img src="/images/examples/menu_radial_generator.png"/>
      <dt>Radial menu generator</dt>
    </a>
    <dd>Same as grid menu generator, but radial!</dd>
    <div class="credit"><a href="https://github.com/syntagmatic">@syntagmatic</a></div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <a href="/examples/earthRotation/index.html">
      <img src="/images/examples/earth.png"/>
      <dt>3D Globe</dt>
    </a>
    <dd>3D Spinnable globe</dd>
    <div class="credit"><a href="https://github.com/rtilton1">@rtilton1</a></div>
  </div>
  <div class="span4">
    <a href="/examples/visualizer.html">
      <img src="/images/examples/threefingers.png"/>
      <dt>Three.js visualizer</dt>
    </a>
    <dd>Finger visualizer using <a href="http://mrdoob.github.com/three.js/">Three.js</a></dd>
  </div>
  <div class="span4">
    <a href="/examples/dumper.html">
      <img src="/images/examples/dumper.png"/>
      <dt>Printout</dt>
    </a>
    <dd>Displays JSON data coming from websocket</dd>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <a href="/examples/camera.html">
      <img src="/images/examples/camera.png"/>
      <dt>Camera Movement</dt>
    </a>
    <dd>Move the scene through grasping actions</dd>
  </div>
  <div class="span4">
    <a href="/examples/hue-saturation.html">
      <img src="/images/examples/hsl.png"/>
      <dt>Hue Saturation Color Space</dt>
    </a>
    <dd>Move through color space with palm position</dd>
  </div>
  <div class="span4">
    <a href="/examples/canvas-fingers.html">
      <img src="/images/examples/fingers.png"/>
      <dt>Canvas Fingers</dt>
    </a>
    <dd>Finger positions in the plane of the screen</dd>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <a href="/examples/canvas-spiral.html">
      <img src="/images/examples/spiral.png"/>
      <dt>Canvas Spiral</dt>
    </a>
    <dd>Rotate your wrist to coil the spiral</dd>
  </div>
  <div class="span4">
    <a href="/examples/gestures-dump.html">
      <img src="/images/examples/gestures.png"/>
      <dt>Gesture JSON Printout</dt>
    </a>
    <dd>Prints out gesture data as JSON</dd>
  </div>
  <div class="span4">
    <a href="/examples/recorder.html">
      <img src="/images/examples/recorder.png"/>
      <dt>Leap Motion Recorder</dt>
    </a>
    <dd>Record motion data as JSON</dd>
    <div class="credit"><a href="https://github.com/syntagmatic">@syntagmatic</a></div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <a href="/examples/replayer.html">
      <img src="/images/examples/replayer.png"/>
      <dt>Leap Motion Replayer</dt>
    </a>
    <dd>Replay recorded motion data<br/>
    Doesn't require Leap!</dd>
  </div>
  <div class="span4">
    <a href="/examples/parcoords.html">
      <img src="/images/examples/parcoords.png"/>
      <dt>Pointable and Hand Data</dt>
    </a>
    <dd>Multidimensional view in <a href="http://syntagmatic.github.io/parallel-coordinates/">parallel coordinates</a></dd>
    <div class="credit"><a href="https://github.com/syntagmatic">@syntagmatic</a></div>
  </div>
  <div class="span4">
    <a href="http://inkmotion.org/">
      <img src="/images/examples/inkmotion.png"/>
      <dt>Ink Motion</dt>
    </a>
    <dd>Fluid drawing with screen calibration</dd>
    <div class="credit"><a href="https://github.com/deckar01">@deckar01</a></div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <a href="/examples/motion-dump.html">
      <img src="/images/examples/motiondump.png"/>
      <dt>Motion Printout</dt>
    </a>
    <dd>Data produced by the Motions API</dd>
  </div>
  <div class="span4">
    <a href="http://www.soulwire.co.uk/experiments/webgl-gpu-particles/">
      <img src="/images/examples/gpuParticles.png"/>
      <dt>1,048,576 Particles</dt>
    </a>
    <dd>GPU Physics with WebGL - <a href="https://github.com/soulwire/WebGL-GPU-Particles">github </a></dd>
    <div class="credit"><a href="https://twitter.com/soulwire">@soulwire</a></div>
  </div>
  <div class="span4">
    <a href="http://cabbibo.com/leap/meshGallery/">
      <img src="/images/examples/meshmanipulation.png"/>
      <dt>Mesh Manipulation</dt>
    </a>
    <dd>Deform a sphere wireframe by tugging vertices</dd>
    <div class="credit"><a href="https://twitter.com/cabbibo">@cabbibo</a></div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <a href="http://cabbibo.com/leap/leapSnake/">
      <img src="/images/examples/leapdragon.png"/>
      <dt>Leap Dragon</dt>
    </a>
    <dd>Circular traces accelerate a hyptonizing spiral</dd>
    <div class="credit"><a href="https://twitter.com/cabbibo">@cabbibo</a></div>
  </div>
  <div class="span4">
    <a href="http://molefrog.com/helga/knife/">
      <img src="/images/examples/knife.png"/>
      <dt>Knife</dt>
    </a>
    <dd>Exploding particle system - <a href="http://vimeo.com/64812106">development process</a></dd>
    <div class="credit"><a href="https://github.com/molefrog">@molefrog</a></div>
  </div>
  <div class="span4">
    <a href="/examples/draw.html">
      <img src="/images/examples/draw.png"/>
      <dt>Draw</dt>
    </a>
    <dd>Dead simple drawing app - <a href="https://github.com/tmcw/leap-simple">github</a></dd>
    <div class="credit"><a href="https://github.com/tmcw/">@tmcw</a></div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <a href="http://yujiangtham.com/leap/theremin/">
      <img src="/images/examples/theremin.png"/>
      <dt>Theremin</dt>
    </a>
    <dd>An <a href="http://en.wikipedia.org/wiki/Theremin">ætherphone</a> for two hands - <a href="https://github.com/ytham/theremin">github</a></dd>
    <div class="credit"><a href="https://github.com/ytham">@ytham</a></div>
  </div>
  <div class="span4">
    <a href="/examples/glsl.html">
      <img src="/images/examples/glsl.png"/>
      <dt>Hello glsj.js</dt>
    </a>
    <dd>A simple WebGL shader with <a href="https://github.com/gre/glsl.js">glsl.js</dd>
    <div class="credit"><a href="https://github.com/syntagmatic">@syntagmatic</a></div>
  </div>
  <div class="span4">
    <a href="/examples/three.html">
      <img src="/images/examples/three.png"/>
      <dt>Hello Three.js</dt>
    </a>
    <dd>Minimal <a href="http://threejs.org/">Three.js</a> example</dd>
    <div class="credit"><a href="https://twitter.com/cabbibo">@cabbibo</a></div>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <a href="/examples/motion-dump.html">
      <img src="/images/examples/motiondump.png"/>
      <dt>Motion Printout</dt>
    </a>
    <dd>Data produced by the Motions API</dd>
  </div>
  <div class="span4">
    <a href="/examples/2-hands.html">
      <img src="/images/examples/2hands.png"/>
      <dt>2 Hands 10 Fingers</dt>
    </a>
    <dd>How many do you have?</dd>
  </div>
  <div class="span4">
    <a href="/examples/swipe.html">
      <img src="/images/examples/swipe.png"/>
      <dt>Swiping selection demo</dt>
    </a>
    <dd>Swipe to highlight a square</dd>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4">
    <a href="/examples/twilio-game/index.html">
      <img src="/examples/twilio-game/screenshot.png"/>
      <dt>Twillio</dt>
    </a>
    <dd>Globechasing</dd>
  </div>
  <div class="span4">
    <a href="/examples/cerebro/index.html">
      <img src="/images/examples/cerebro.jpg"/>
      <dt>Cerebro</dt>
    </a>
    <dd>Shows Google Analytics statistics on a globe. Full version here – <a href="http://cerebro.maxmert.com">cerebro.maxmert.com</a></dd>
    <div class="credit"><a href="https://github.com/maxmert">@maxmert</a></div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
</div>
