<h1>welcome to leapjs!</h1>

<h3>To get the latest leap.js...</h3>

<div class="well setup">
  <h3><span>Browser</span></h3>
  <div id="browser">
    <h4>For production</h4>
    <p class="opening-code">
    &lt;script src="//js.leapmotion.com/<%=LATEST_VERSION%>/leap.min.js"&gt;&lt;/script&gt;
    </p>
    <h4>For development</h4>
    <p class="opening-code">
    &lt;script src="//js.leapmotion.com/<%=LATEST_VERSION%>/leap.js"&gt;&lt;/script&gt;
    </p>
  </div>
</div>

<div class="well setup">
  <h3><span>Node.js</span></h3>
  <div id="node">
    <h4>Install from npm</h4>
    <p class="opening-code">
    $ npm install leapjs -v<%=LATEST_VERSION%>
    </p>
    <h4>Or add to your package.json</h4>
    <p class="opening-code">
      "leapjs": "<%=LATEST_VERSION%>"
    </p>
  </div>
</div>

<hr>

<h3>Please join us on github!</h3>

<p class="opening-code"><a href="https://github.com/leapmotion/leapjs">https://github.com/leapmotion/leapjs</a></p>
