<h1>Welcome to Leap.js!</h1>

<p> Leap.js is a way to use the Leap Motion Device in your browser. <br/>
  This website exists to document, explain and showcase projects using the Leap Motion Javascript API </p>

<!--div class="row-fluid">
  <div class="span4">

    <h2> Examples </h2>
    <ul>
      <li><a href="/still/not/clean">Still Not Clean!</a></li>
    </ul>

    <p>Please join us on github!</p>
  </div>

  <div class="span8" -->
<h3>Browser CDN</h3>
<pre>&lt;!-- for production --&gt;
&lt;script src="//js.leapmotion.com/<%= LATEST_VERSION %>/leap.min.js"&gt;&lt;/script&gt;
&lt;!-- for development --&gt;
&lt;script src="//js.leapmotion.com/<%= LATEST_VERSION %>/leap.js"&gt;&lt;/script&gt;
    </pre>
<h3>Node.js Module</h3>
<pre>$ npm install leapjs -v<%= LATEST_VERSION %> --save
    </pre>
<!-- /div>
</div -->
<p>

  <a class="btn btn-success btn-large " href="/api_guide"> Developer Guide </a>
  <!-- a class="btn btn-success btn-large " href="/start"> Getting Started </a -->
  <a class="btn btn-success btn-large " href="/examples"> Examples </a>
  <a class="btn btn-success btn-large " href="/tutorials"> Tutorials </a>
  <a class="btn btn-success btn-large " href="/api"> API </a>
  <a class="btn btn-success btn-large " href="http://github.com/leapmotion/leapjs">
    <img class="emoji" title=":octocat:" alt=":octocat:" src="https://a248.e.akamai.net/assets.github.com/images/icons/emoji/octocat.png" height="20" width="20" align="absmiddle">

    Leap.js on github</a>
  <a class="btn btn-large" href="/what_is_leap_motion">What is Leap Motion?</a>
</p>
