<div class="hero-unit">
  <h1>What is Leap Motion?</h1>
  <div><img src="/images/05-LeapMotion-Laptop.png" /></div>
  <p>Leap Motion is a hand/finger detection camera that allows you to interact with your computer by moving your hands in the air
  like  you just don't care.</p>
</div>

<p>The Leap Motion controller can be acquired at <a href="http://www.leapmotion.com">LeapMotion.com</a>.</p>