<h1> Learning Leapjs </h1>

<p>Hi There,</p>

<p>My name is Isaac, and I want to try and teach you some stuff about leapjs. Over the course of the tutorials we will not only cover the basics of leapjs, but also look at how we can apply it to really awesome web technologies, such as Canvas, WebGL, and the Web Audio API. We will try and take it as slow as possible, so even if you haven't had experience with any of these technologies, you can still keep up with the tutorials. Ideally, using these tutorials could even be a way for a novice to learn javascript.</p>

<p> That being said, if you already know a bit of what you are doing, feel free to skip to the bottom of every tutorial. The demo, along with live code, will be patiently waiting for you.</p>

<div class = "tutorialImageHolder">
  <img src="/images/tutorials/welcome/whatsToCome.png"/>
  <p> Fig 1. An example of whats to come</p>
</div>



<p> We will start by going through the basics of the controller, and work our way through all the features of the API, as well as helpful functions that you can will frequently. Most of these tutorials will be using 2D Canvas. Once we get through these basics things will start to get interesting. We will learn to make a theramin, a 3D reddit browser and at least one 3D game. It might take a while to get there, but stick with it. I don't think you will regret it.</p>


<p> Keep in mind, these tutorials are created for you, the developer. If there is anything you want changed about them, <a href="mailto:icohen@leapmotion.com"> Let Me Know </a> If you have any suggestions, notice any grammar problems, think of cool examples you'd like to seen explained, want me to stop talking so much, wish I would talk more, or have any feedback in general, it is all MUCH appreciated.</p>

<p> Also, if there is anything you think the world should know about leap, please consider writing a tutorial. Building a vibrant community of passionate developers is an intensive task, and we can't do it without your help!</p> 

<p> You can check out the code for this tutorial and this entire site by going to <a href="https://github.com/leapmotion/js.leapmotion.com" target="_blank"></a>

<p> If you still want to dive into the deep pool of data that is leap motion, let's get started by learning how to create connections.</p>


