code {
  color: #333333
}

.toc {
  display: inline-block;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.toc ol li ol {
  list-style-type: lower-alpha;
}

.opening-code {
  font-family: monospace;
  font-size: 16pt;
}

h1 {
  font: 400 70px/1.2 'Sansita one', Georgia, serif;
}

* {
  font-family: 'Kameron', Georgia, serif;
}


/* Sidebar */
@media (max-width: 767px) {
  .api-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .api-docs-sidenav.affix {
    width:166px;
  }
  .nav-list {
    padding:0;
  }
}

@media (max-width: 1199px) and (min-width: 980px) {
  .api-docs-sidenav.affix {
    width:190px;
  }
}

@media (min-width: 1200px) {
  .api-docs-sidenav.affix {
    width:270px;
  }
  .nav-list {
    padding:0;
  }
}


.api-docs-sidenav.affix {
  top: 20px;
}

.api-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.setup h3 span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 26px;
  font-size: 24px;
  background-color: #AC7F24;
  color: white;
}

.setup h3 {
  margin-left: 10px;
}

.tutorialHolder{

}
.tutorialDemo{
  width:300px;
}
.tutorialCanvas{
  width:300px;
  height:185px;
  border: 1px solid black;
}

.tutorialCode{
  width:300px;
}
